# --find-links https://download.pytorch.org/whl/torch_stable.html
# torch==1.12.1+cpu
matplotlib
numpy
pandas
# jupyterlab
scikit-learn
# git+https://github.com/FlowModelingControl/flowtorch.git@aweiner


## Work with jupyter-book==0.11.3 + jinja2==3.0.0
jupyter-book     # ==0.11.3
jinja2           #==3.0.0
ghp-import
torch==1.12.1